@use "../../assets/sass/variables" as *;

.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: transparent;
  border-radius: 10px;
  background-color: $counter-background-colour;
  box-shadow: 1px 1px 1px 1px $primary-colour, 2px 2px 2px 2px $primary-colour;
  height: 150px;
  width: 200px;
  text-align: center;
  margin-top: 50px;

  &__header {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 20px;
    color: $secondary-colour;
    text-shadow: 0px 0px 1px $primary-colour;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    gap: 40px;
  }

  &__button {
    background-color: transparent;
    border: transparent;
    font-size: 30px;
    color: $secondary-colour;

    &:hover {
      cursor: pointer;
      text-shadow: 0px 1px $primary-colour;
    }
    
    &:active {
      transform: translate(1px, 1px);
    }

    &--text {
      font-size: 25px;
    }

  }
  
}




