@use "../../assets/sass/variables" as *;

.employee-cards {
  display: grid;
  justify-content: center;
  padding-bottom: 10px;
  gap: 50px;

  @media only screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  @media only screen and (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.employee-card {
  border: 1px solid $secondary-colour;
  border-radius: 5px;
  background-color: $tertiary-colour;
  box-shadow: 0px 2px 2px 1px $secondary-colour, 1px 3px 4px 2px $secondary-colour, 2px 4px 5px 3px $secondary-colour;
  height: 300px;
  width: 250px;

  @media only screen and (min-width: 768px) {
    justify-self: center;
  }

  &__content {
    color: $secondary-colour;
    text-shadow: 0px 1px 1px $tertiary-colour, 1px 2px 2px $primary-colour;
    font-weight: bolder;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
  }
}

.counter-container {
  display: flex;
  justify-content: center;
}