@use "./assets/sass/typography";
@use "./assets/sass/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-color: $background-colour;
  height: 100%;
  width: 100vw;
}

.app-title {
  padding: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  color: $text-colour;
}


